body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fat {
    color: #ff4081; 
}

h1, h2, h3, h4, h5, h6 {
    color: #ff4081; 
}
a {
    color: #ffffff;
}
a.url {
    color: #1e88e5; 
    text-decoration: none;
}
a.social:visited {
    color: #ffffff;
}
a:hover {
    color: #ff4081; 
}

button {
    background-color: #6200ea; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3; 
}

.container {
    text-align: center;
    margin-top: 5rem; /* Adjust this value if needed */
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

.card {
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #1e1e1e; 
    color: #b0bec5; 
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #ff4081; 
    margin: 5px;
    font-size: 65px;
}

p {
    color: #b0bec5; 
    line-height: 1.6;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #333333;
}
